<p-toast />
<p-confirmdialog #cd>
  <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
      <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
          <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
          <p class="mb-0">{{ message.message }}</p>
          <div class="flex items-center gap-2 mt-6">
            <p-button label="Cancel" [outlined]="true" (onClick)="onReject()" styleClass="w-32"></p-button>
              <p-button label="Delete" (onClick)="onAccept()" styleClass="w-32" severity="danger"></p-button>
          </div>
      </div>
  </ng-template>
</p-confirmdialog>
<div class="container mx-auto px-4">
    <!-- Header Section -->
    <div class="flex flex-col xl:flex-row items-center xl:items-start gap-2 justify-between">
        <div>
            <div class="text-2xl leading-8 text-color font-medium">Role</div>
        </div>
    </div>

    <!-- Search and Action Buttons Section -->
    <div class="mt-10 mb-4 flex flex-col xl:flex-row items-center justify-between space-y-4 xl:space-y-0 xl:space-x-4">
        <p-iconfield class="w-full sm:w-auto">
            <p-inputicon class="pi pi-search"> </p-inputicon>
            <input 
                pInputText 
                type="text" 
                (input)="onGlobalFilter($event)"
                placeholder="Search Role" 
                class="w-full sm:w-auto p-inputtext"
            />
        </p-iconfield>
        
        <div class="flex flex-wrap items-center gap-3 justify-center sm:justify-end w-full sm:w-auto">
            <ng-container *ngIf="!isDataLoading">
            <p-button 
                icon="pi pi-refresh" 
                outlined 
                severity="secondary" 
                (click)="reloadState()"
                class="m-1"
            />
            <p-button 
                label="{{currentPage}} of {{totalPages}}" 
                outlined 
                severity="secondary" 
                class="m-1"
            />
            <p-button 
                icon="pi pi-chevron-left" 
                outlined 
                severity="secondary" 
                (click)="prev()" 
                [disabled]="isFirstPage()"
                class="m-1"
            />
            <p-button 
                icon="pi pi-chevron-right" 
                outlined 
                severity="secondary" 
                (click)="next()" 
                [disabled]="isLastPage()"
                class="m-1"
            />
        </ng-container>
        <ng-container *ngIf="hasAccess('DTO5214', 'CREATE') && dtoName">
        <p-divider layout="vertical" class="hidden sm:block m-0 p-0" />
        <p-button
          icon="pi pi-plus"
          label="Create Role"
          outlined
          (click)="showCreateRoleDialog()"
          severity="secondary"
          class="m-1"
        />
      </ng-container>
        </div>
    </div>

    <div class="w-full h-full overflow-y-auto scrollbar-hide">
        <p-table 
            #table 
            #dt 
            [value]="RoleData" 
            [(selection)]="selectedRows" 
            dataKey="id" 
            [rows]="10" 
            [paginator]="true" 
            [first]="first" 
            [globalFilterFields]="['Name','Description',]"
            scrollHeight="calc(100vh - 200px)"
            class="w-full min-w-[1000px]"
            [loading]="isDataLoading"
            
        >
            <!-- Table Header Template -->
            <ng-template #header>
                <tr>
                    <th style="width: 1rem">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th>Name</th>
<th>Description</th>
 
                    <th>Actions</th>             
                </tr>
            </ng-template>

            <!-- Table Body Template -->
            <ng-template #body let-RoleData>
                <tr>
                    <td style="width: 1rem">
                        <p-tableCheckbox [value]="RoleData" />
                    <td> <div class="leading-6 text-color">{{ RoleData.Name }} </div> </td>
<td> <div class="leading-6 text-color">{{ RoleData.Description }} </div> </td>

          <td>
            <div class="flex justify-end w-full">
              <div class="flex gap-2">
                <p-button
                  *ngIf="hasAccess('DTO5214', 'UPDATE')"
                  icon="pi pi-pencil"
                  (click)="showEditRoleDialog(RoleData)"
                  size="small" 
                  [rounded]="true"
                  variant="outlined"
                  pTooltip="Edit"
                  tooltipPosition="top"
                ></p-button>
                <p-button
                  *ngIf="hasAccess('DTO5214', 'DELETE')"
                  icon="pi pi-trash"
                  (click)="deleteRole(RoleData)" 
                  severity="danger"
                  size="small" 
                  [rounded]="true"
                  variant="outlined"
                  pTooltip="Delete"
                  tooltipPosition="top"                  
                ></p-button>
                
              </div>
            </div>
          </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>