<form [formGroup]="departmentForm" class="card grid grid-cols-1 gap-4 mt-4">
  <div>
    <p-floatlabel class="w-full mt-3">
      <input
        pInputText
        id="Name"
        formControlName="Name"
        autocomplete="off"
        class="w-full"
      />
      <label for="Name">Department Name</label>
    </p-floatlabel>

    <small
      *ngIf="
        departmentForm.get('Name')?.touched && departmentForm.get('Name')?.hasError('required')
      "
      class="text-red-600"
    >
      Department Name is required.
    </small>
  </div>

  <div>
    <p-floatlabel class="mt-3">
      <p-dropdown
        id="employees"
        [options]="EmployeeData"
        appendTo="body"
        optionLabel="Name"
        optionValue="EmployeeId"
        placeholder="Select the HOD"
        formControlName="hod"
        [filter]="true"
        class="w-full"
      ></p-dropdown>
    </p-floatlabel>

    <small
      *ngIf="departmentForm.get('hod')?.touched && departmentForm.get('hod')?.hasError('required')"
      class="text-red-600"
    >
      HOD is required.
    </small>
  </div>
</form>

<!-- Save and Close Buttons -->
<div class="flex justify-evenly sm:justify-end sm:gap-4 mt-10">
  <div>
    <p-button
      label="Close"
      icon="pi pi-times"
      outlined="true"
      class="w-full sm:w-auto"
      (click)="CloseInstances($event)"
    ></p-button>
  </div>
  <div>
    <p-button
      label="Save"
      icon="pi pi-save"
      [loading]="isLoading"
      class="w-full sm:w-auto"
      (click)="save()"
    ></p-button>
  </div>
</div>
