<p-toast />

<p-tabView [(activeIndex)]="activeTabIndex" (onChange)="onTabChange($event)">
  <p-tabPanel header="Attendances">
    <div *ngIf="activeTabIndex === 0">
      <router-outlet></router-outlet>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Irregular Attendances" *ngIf="roleName != 'Employee'">
    <div *ngIf="activeTabIndex === 1">
      <router-outlet></router-outlet>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Devices" *ngIf="roleName != 'Employee'">
    <div *ngIf="activeTabIndex === 2">
      <router-outlet></router-outlet>
    </div>
  </p-tabPanel>
</p-tabView>